.scrollable--x {
    width:100%;
	height:100%;
	overflow-x: auto;
}
.horizontal-track {
    height: 8px;            /* How wide is the scrollbar going to be? */
    background-color: #e1e9f3; /* What color should the vertical track be? */
}
.horizontal-handle {
	top:1px;
    height: 6px;            /* How wide is the scrollbar handle? */
    background-color: #67c9d3; /* What color should the handle be? */
}

.scrollable--y {
    width:100%;
	height:100%;
	overflow-y: auto;
}
.horizontal-track {
    width: 8px;            /* How wide is the scrollbar going to be? */
    background-color: #e1e9f3; /* What color should the vertical track be? */
}
.horizontal-handle {
	left:1px;
    width: 6px;            /* How wide is the scrollbar handle? */
    background-color: #67c9d3; /* What color should the handle be? */
}	
