.headerwrap, .sidetabs > li.active > a:before, .searchwrap,.table_form input[type="submit"],.btn-primary,.radio .input-helper:after,.field_control.active .field_cover:after,.controlwrap .btngroup .themebtn.active,.tabs_nav > li > a.active:before,.tabs_nav_container.flat .tabs_nav > li > a.active,.centered_nav > li > a.active:before, .centered_nav > li > a:hover:before,.topwrap,.accordian_title.active:after,.accordians_container.flat .accordian_title{background: #00153b;}

.sidetabs > li.active > a:after{ border-bottom: 8px solid #00153b;}
.checkbox .input-helper:after{border-color: #00153b;}
.link{ color: #00153b;}
.leftmenu > li > a:hover{ color: #00153b; border-left: 4px solid #00153b;}
.breadcrumb li a{ color: #00153b;}
.pagination li.selected a{background: #00153b; border-color: #00153b;}
.controlwrap .btngroup .themebtn{border-color: #00153b;color: #00153b;}
.color_pallete .pallete_control .icon{color: #00153b;}
.tabs_nav > li > a.active{color: #00153b;}
.tabs_nav > li > a.active:after, .tabs_nav > li > a.active:after,.centered_nav > li > a.active:after{ border-bottom: 8px solid #00153b;}
.tabs_nav_container.flat .tabs_nav > li > a.active:after{border-top: 8px solid #00153b;}
.tabs_nav_container.flat .tabs_nav{border-bottom-color: #00153b;}
.centered_nav > li > a.active{ color: #00153b;}
.leftmenu > li.active > a{ border-left: 4px solid #00153b;color: #00153b;}
.accordian_title:before,.tooltip{ color: #00153b;}

.web_form input[type="submit"], .web_form input[type="button"]{background: #00153b;}

