@font-face {
    font-family: 'ProximaNova';
    src: url("../fonts/proximanova/proximanova-regular-webfont.eot");
    src: url("../fonts/proximanova/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/proximanova-regular-webfont.woff") format("woff"), url("../fonts/proximanova/proximanova-regular-webfont.ttf") format("truetype"), url("../fonts/proximanova/proximanova-regular-webfont.svg#proximanovaregular") format("svg");
    -webkit-font-smoothing: antialiased;
    /* This needs to be set or some font faced ../fonts look bold on Mac in Chrome/Webkit based browsers. */
    -moz-osx-font-smoothing: grayscale;
    /* Fixes font bold issue in Firefox version 25+ on Mac */
}
@font-face {
    font-family: 'ProximaNova-Bold';
    src: url("../fonts/proximanova/proximanova-bold-webfont.eot");
    src: url("../fonts/proximanova/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/proximanova-bold-webfont.woff") format("woff"), url("../fonts/proximanova/proximanova-bold-webfont.ttf") format("truetype"), url("../fonts/proximanova/proximanova-bold-webfont.svg#proximanovabold") format("svg");
    -webkit-font-smoothing: antialiased;
    /* This needs to be set or some font faced ../fonts look bold on Mac in Chrome/Webkit based browsers. */
    -moz-osx-font-smoothing: grayscale;
    /* Fixes font bold issue in Firefox version 25+ on Mac */
}
@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url("../fonts/proximanova/proximanova-semibold-webfont.eot");
    src: url("../fonts/proximanova/proximanova-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/proximanova-semibold-webfont.woff") format("woff"), url("../fonts/proximanova/proximanova-semibold-webfont.ttf") format("truetype"), url("../fonts/proximanova/proximanova-semibold-webfont.svg#proximanovasemibold") format("svg");
    -webkit-font-smoothing: antialiased;
    /* This needs to be set or some font faced ../fonts look bold on Mac in Chrome/Webkit based browsers. */
    -moz-osx-font-smoothing: grayscale;
    /* Fixes font bold issue in Firefox version 25+ on Mac */
}
@font-face {
    font-family: 'ProximaNova-Regular';
    src: url("../fonts/proximanova/proximanova-semibold-webfont.eot");
    src: url("../fonts/proximanova/proximanova-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/proximanova-semibold-webfont.woff") format("woff"), url("../fonts/proximanova/proximanova-semibold-webfont.ttf") format("truetype"), url("../fonts/proximanova/proximanova-semibold-webfont.svg#proximanovasemibold") format("svg");
    -webkit-font-smoothing: antialiased;
    /* This needs to be set or some font faced ../fonts look bold on Mac in Chrome/Webkit based browsers. */
    -moz-osx-font-smoothing: grayscale;
    /* Fixes font bold issue in Firefox version 25+ on Mac */
}


/******************hhwt-header css*********************/

.hhwt-header-fluid {
    background-color: #00cccb;
    max-height: 72px;
    padding: 0px;
}
.hhwt-header-container {
  padding: 0px;
}
.hhwt-header-container .hhwt-nav-menu-li {
    margin-left: 15px;
    margin-right: 15px;
    min-height: 72px;
}
.hhwt-header-container .hhwt-nav-menu-li .search {
    max-width: 180px;
    margin-top: 14px;
    height: 40px;
}
.hhwt-header-container .hhwt-navbar .hhwt-nav-menu-li .search span {
    background-color: #009fa2;
    border: none;
    color: #d1f0ef;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li .search input {
    background-color: #009fa2;
    border: none;
    color: #fff;
    padding: 20px 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    
}
.hhwt-filter-container .hhwt-city-filters .search-keyword input{
    border: 1px solid #ccc;
    border-left: none;
    font-size: 13px;
}
.hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li .search input:focus {
    box-shadow: none;
}
.hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li .search input::-webkit-input-placeholder {
    color: #d1f0ef;
}
.hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li .search input::-moz-placeholder {
    color: #d1f0ef;
}
.hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li .search .input-close {
    display: none;
    position: absolute;
    z-index: 99;
    right: 15px;
    top: 9px;
}
.hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li .search.search-bg span {
    background-color: #fff;
    color: #405050;
}
.hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li .search.search-bg input {
    color: #405050;
}
.hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li .search.search-bg input:focus {
    background-color: #fff;
}
.hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li .search.search-bg input::-webkit-input-placeholder {
    color: #fff;
}
.hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li .search.search-bg input::-moz-placeholder {
    color: #fff;
}
.hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li .search.search-bg .input-close {
    display: flex;
    cursor: pointer;
}
.hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li a {
    color: #fff;
    margin-top: 8px;
    padding-right: 0px;
    padding-left: 0px;
    font-family: 'ProximaNova-Semibold';
    font-size: 14px;
}
.hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li a:hover, .hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li a:active, .hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li a:visited, .hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li a:focus {
    text-decoration: none;
    background-color: transparent;
}
.hhwt-header-container .hhwt-navbar .hhwt-nav-menu-li.hhwt-nav-menu-li-items span {
    margin-right: 8px;
}
.hhwt-header-container .hhwt-navbar .hhwt-nav-menu-li.hhwt-nav-menu-li-items span img {
    width: 22px;
}
.hhwt-header-container .hhwt-nav-menu-right .hhwt-nav-menu-profile{
    margin: 5px 0px;
}
.hhwt-header-container .hhwt-nav-menu-right .hhwt-nav-menu-profile a{
    padding: 0px;
}
.hhwt-header-container .hhwt-nav-menu-right .hhwt-nav-menu-profile img{
    width: 40px;
    height: 40px;
    margin: 5px;
}
.hhwt-header-container .hhwt-nav-menu-right .hhwt-nav-menu-icons, .hhwt-nav-menu-message{
    color: #fff;
    margin: 25px 15px;
}
.hhwt-header-container .hhwt-nav-menu-right .hhwt-nav-menu-message .fa-circle{
    top: -2px;
    position: absolute;
    left: 15px;
    font-size: 10px;
    color: #E8007A;
}
.hhwt-header-container .hhwt-nav-menu-right .hhwt-nav-menu-icons .fa-bell{
    font-size: 18px;
    margin-top: 2px;
}
.hhwt-header-container .hhwt-nav-menu-right .hhwt-nav-menu-icons .fa-circle{
    top: -2px;
    position: absolute;
    left: 10px;
    font-size: 10px;
    color: #E8007A;
}
.hhwt-header-container .hhwt-nav-menu-right .hhwt-nav-menu-profile{
    color: #fff;
}
.hhwt-header-container .hhwt-nav-menu-right .hhwt-trg-login{
    color: #fff;
    display: none;
}
.hhwt-header-container .hhwt-navbar .hhwt-nav-menu-right {
    margin-right: 0px;
}
.hhwt-header-container .hhwt-navbar .hhwt-nav-menu-right li a{
    color: #fff;
    margin-top: 8px;
    padding-right: 0px;
    padding-left: 0px;
    font-family: 'ProximaNova-Semibold';
    font-size: 14px;
}
.hhwt-header-container .hhwt-navbar .hhwt-nav-menu-right li a:hover, .hhwt-header-container .hhwt-navbar .hhwt-nav-menu-right li a:visited, .hhwt-header-container .hhwt-navbar .hhwt-nav-menu-right li a:focus, .hhwt-header-container .hhwt-navbar .hhwt-nav-menu-right li a:active{
    background-color: transparent;
}
.hhwt-header-container .hhwt-navbar .navbar-brand {
    padding-left: 0px;
}
.hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li.dropdown:hover > .dropdown-menu {
    display: block;
}
.hhwt-navbar-container .hhwt-navbar #hhwt-mob-nav-search, .hhwt-navbar-container .collapsing {
    padding: 0px;
    width: 100%;
}
.hhwt-header-container .hhwt-nav-menu-profile{
    display: block !important;
    min-height: 71px;
}
.hhwt-header-container .hhwt-nav-menu-profile .hhwtmainsubmenu .hhwtmainsubmenu > a {
    color: #00cccb;
    text-align: center;
    font-size: 14px;
    font-family: 'ProximaNova';
    font-weight: bold;
}
.hhwt-header-container li ul.menucontainer:hover{
    display: block;
}
.hhwt-header-container .hhwt-nav-menu-right .hhwt-nav-menu-profile ul:hover{
    display: block !important;
}
.hhwt-header-container .hhwt-nav-menu-right .hhwt-nav-menu-profile ul{
    background: #f2f2f2;
    position: absolute;
    z-index: 999;
    display: none;
    min-width: 200px;
    background-color: #fff !important;
    top: 50px;
    left: -90px;
    margin-top: 13px;
    padding-left: 0px;
    border-radius: 10px;
}
.hhwt-header-container .hhwtmainsubmenu:not(:last-child) {
    border-bottom: 3px solid #EBEBEB;
}
.hhwt-header-container li ul.menucontainer .hhwtmainsubmenu{
    padding: 7px 4px 7px;
    margin: 0px 0px;
}
.hhwt-header-container ul.hhwt-nav-menu-right .hhwtmainsubmenu > a {
    color: #00cccb;
    text-align: center;
    font-size: 14px;
    font-family: 'ProximaNova';
    font-weight: bold;
    text-align: center;
    display: block;
    text-decoration: none;
}
.hhwt-header-container li:hover ul.menucontainer, ul.menucontainer:hover{
    display: block !important;
    border-radius: 10px;
}
.hhwt-header-container li ul.menucontainer li{
    display: block;
}
.hhwt-header-container .header-search .search-input{
    font-size: 14px;
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hhwt-header-container .navbar-header .navbar-brand {
        padding-left: 0px;
        padding-right: 0px;
    }
    .hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li {
        margin-left: 5px;
        margin-right: 5px;
    }
    .hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li a {
        font-size: 13px;
    }
    .hhwt-header-container .hhwt-navbar .hhwt-nav-menu-right .hhwt-nav-menu-right-li a {
        font-size: 13px;
    }
    .hhwt-header-container .hhwt-navbar .hhwt-nav-menu-right {
        position: absolute;
        top: 0;
        right: 0px;
        padding-right: 0px;
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        font-family: 'ProximaNova';
        font-size: 14px;
        font-weight: 700;
        letter-spacing: .7px;
        min-width: 150px;
    }
    .hhwt-header-container .hhwt-nav-menu-right .hhwt-nav-menu-icons, .hhwt-nav-menu-message {
        margin: 25px 5px;
    }
    .hhwt-header-container .hhwt-nav-menu-li {
        margin-left: 5px;
        margin-right: 5px;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .hhwt-header-container .hhwt-nav-menu-li {
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media only screen and (min-width: 768px) {
    .hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li.dropdown:hover > .dropdown-menu {
        display: block;
    }
}
@media only screen and (max-width: 767px) {
    .hhwt-header-fluid {
        max-height: 140px;
    }
    .hhwt-header-container .hhwt-navbar {
        margin-bottom: 0px;
    }
    .hhwt-header-container .hhwt-navbar .hhwt-nav-menu {
        display: flex;
        width: 100%;
        margin: 0px;
    }
    .hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li:first-child {
        display: none;
    }
    .hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li {
        text-align: center;
        margin: auto;
        min-height: auto;
    }
    .hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li p {
        display: none;
    }
    .hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li a {
        padding-bottom: 8px;
        padding-top: 5px;
        margin-top: 0px;
    }
    .hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li .hhwt-menu-dropdown {
        position: absolute;
        background-color: #fff;
        margin-top: 2px;
        min-width: 300px;
    }
    .hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li .hhwt-menu-dropdown li.hhwt-dropdown-li .dropdown-search input {
        max-width: 165px;
    }
    .hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li.active {
        display: block;
    }
    .hhwt-header-container .hhwt-navbar .hhwt-nav-menu-right {
        position: absolute;
        top: 0;
        display: flex;
        margin: 0px;
        right: 0;
        left: auto;  display: flex;
        margin: 0px;
    }
    .hhwt-header-container .hhwt-navbar .hhwt-nav-menu-right li a{
        margin: 0px;
    }
    .hhwt-header-container .hhwt-navbar .hhwt-nav-menu-right li{
        margin: 0px;
        padding: 5px 5px;
    }
    .hhwt-header-container .hhwt-navbar .hhwt-nav-menu-right .hhwt-nav-menu-message, .hhwt-nav-menu-icons{
        top: 15px;
    }
    .hhwt-header-container .hhwt-navbar .hhwt-mob-menu {
        padding: 0px 15px;
        text-align: center;
        margin-bottom: 15px;
    }
    .hhwt-header-container .hhwt-navbar .hhwt-mob-menu .hhwt-mob-search {
        font-size: 20px;
        color: #fff;
        left: 15px;
        position: absolute;
        padding-top: 15px;
    }
    .hhwt-header-container .hhwt-navbar .hhwt-mob-menu .hhwt-mob-logo {
        padding-top: 11px;
        margin-left: 15px;
        max-width: 80px;
    }
    .hhwt-navbar-fluid .hhwt-header-container .hhwt-navbar .hhwt-mob-menu .hhwt-mob-col-button {
        margin-right: 0px;
    }
    .hhwt-header-container .hhwt-navbar .hhwt-mob-menu .hhwt-mob-col-button .icon-bar {
        background-color: #fff;
    }
    .hhwt-header-container .hhwt-nav-menu-right .hhwt-nav-menu-icons .fa-circle {
        top: 2px;
        left: 15px;
    }    
    .hhwt-header-container .hhwt-nav-menu-right .hhwt-nav-menu-message .fa-circle {
        top: 2px;
        left: 20px;
    }
    .collapse-search p {
        padding: 0px 15px;
        width: 100%;
        height: 34px;
    }
    .collapse-search p span {
        background-color: #009fa2;
        border: none;
        color: #d1f0ef;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .collapse-search p input {
        background-color: #009fa2;
        border: none;
        color: #fff;
        padding: 0px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        font-family: 'ProximaNova';
        font-size: 15px;
        height: 40px;
    }
    .hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li a{
        font-size: 18px;
    }
    .hhwt-header-container .hhwt-nav-menu-right .hhwt-nav-menu-profile ul {    
        min-width: 154px;
        left: -100px;
    }
}

/*hhwt-featured-fluid banner*/

.hhwt-homepage{
    background-color: #F5F6F8;
}
.hhwt-single-category{
    padding: 0px;
}
.hhwt-featured-fluid{
    background-image: url("../images/Singapore.jpg");
    min-height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
}
.hhwt-featured-container .hhwt-featured-title{
    width: 60%;
    margin: 0 auto;
    padding: 150px 0px 0px 0px;
}
.hhwt-featured-container .hhwt-featured-title h1{
    text-align: center;
    font-family: 'ProximaNova-Bold';
    color: #fff;
    font-size: 46px;
    margin: 0px;
    padding: 0px 15px;
    line-height: 60px;
}
.hhwt-featured-container .dropdown-search{
    display: flex;
}
.hhwt-featured-container .dropdown-search .seachbox{
    height: 65px;
    border-radius: 50px 0px 0px 50px;
    font-family: 'ProximaNova';
    color: #999D9E;
    font-size: 16px;
}
.hhwt-featured-container .dropdown-search .search-span{
    height: 65px;
    border-radius: 0px 50px 50px 0px;
    background-color: #00cccb;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    padding: 15px 30px 20px 30px;
    font-family: 'ProximaNova';
}
.hhwt-featured-container .hhwt-searchmenu{
    margin-top: 70px;
}
.hhwt-searchmenu .search-act span.twitter-typeahead{
    width: 89%;
}
.hhwt-featured-title .hhwt-searchmenu div.tt-menu{
    width: 97%;
    left: 3% !important;
    right: 0% !important;
}
.hhwt-searchmenu .search-span input{
    background-color: transparent !important;
    border: 0px !important;
    font-size: 14px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
    .hhwt-featured-container .hhwt-featured-title {
        width: 100%;
        padding: 98px 0px 0px 0px;
    }
    .hhwt-featured-container .hhwt-featured-title h1 {    
        font-size: 40px;    
        line-height: 45px;
        padding: 0px;
    }
    .hhwt-widget-container .hhwt-widget .hhwt-small-widget{
        margin: 25px 0px 25px !important;
    }
    .container{
        padding: 0px;
    }
    .hhwt-destination-fluid .hhwt-destination-container .hhwt-destination-title {
        font-size: 28px;
    }
    .simple-small header{
        min-height: 160px;
        max-height: 160px;
        overflow: hidden;
    }
    .custom-container .item{
        margin: 0px 0px !important;
    }
    .hhwt-header-container .hhwt-nav-menu-right .hhwt-nav-menu-profile{
        margin: 5px 5px !important;
    }
}
/*****************widget css*********************/

.hhwt-widget-fluid{
    background-color: #F5F6F8;
    padding-left: 0px;
    padding-right: 0px;
}
.hhwt-widget-container, .hhwt-widget{
    padding-left: 0px;
    padding-right: 0px;
}
.hhwt-widget-container .hhwt-widget .hhwt-small-widget{
    text-align: center;
    margin: 70px 0px 25px;
}
.hhwt-widget-container .hhwt-widget .hhwt-small-widget img{
    text-align: center;
} 
.hhwt-widget-container .hhwt-widget .hhwt-small-widget h3{
    text-align: center;
    color: #5A6666;
    font-family: 'ProximaNova-Bold';
    font-size: 30px;
}
.hhwt-widget-container .hhwt-widget .hhwt-small-widget p{
    text-align: center;
    color: #535959;
    font-family: 'ProximaNova';
    font-size: 19px;
}

/***********Destinations css************/

.hhwt-destination-fluid{
    padding-right: 0px;
    padding-left: 0px; 
    margin-bottom: 50px;
}
.hhwt-destination-container{
    padding: 0px;
    margin-bottom: 23px;
}
.hhwt-destination-container .hhwt-destination-title{
    font-family: 'ProximaNova-Bold';
    color: #405050;
    padding: 0px;
    font-size: 32px;
}
.hhwt-destination-container .hhwt-destination-btn{
    font-family: 'ProximaNova-Semibold';
    float: right;
    background-color: #00cccb;
    color: #fff;
    border-radius: 20px;
    max-width: 120px;
    margin-top: 8px;
}
.hhwt-destination-container .hhwt-destination-btn span{
    margin-left: 15px;
}
.hhwt-modern-medium{
    padding-left: 0px;
    padding-right: 0px;
}
.hhwt-modern-medium a img{
    width: 100%;
    min-height: 320px;
    max-height: 320px;
    border: 1px solid #fff;
}
.hhwt-modern-medium header{
    position: absolute;
    top: 0;
    margin: 15px auto 0px;
    text-align: center;
    width: 100%;
    font-family: 'ProximaNova-Bold';
}
.hhwt-modern-medium .category {
    font-size: 13px;
}
.hhwt-modern-medium .category a{
    color: #fff;
    text-decoration: none;
    outline: none;
}
.hhwt-modern-medium h3{
    font-size: 35px;
    margin-top: 5px;
}
.hhwt-modern-medium h3 a{
    color: #fff;
    text-decoration: none;
    outline: none;
}
.hhwt-destination-fluid .carousel-control.left {
    background: none;
    text-align: left;
    top: 46%;
    max-height: 40px;
    max-width: 35px;
    opacity: 1;
}
.hhwt-destination-fluid .carousel-control.right {
    background: none;
    text-align: right;
    top: 46%;
    max-height: 40px;
    max-width: 35px;
    opacity: 1;
    margin-right: 10px;
}
.carousel-control.left span {
    padding: 15px 20px;
    background-color: rgba(53, 52, 52, 0.64);
    border-radius: 0px 25px 25px 0px;
    font-size: 25px;
}
.carousel-control.right span {
    padding: 15px 20px;
    background-color: rgba(53, 52, 52, 0.64);
    border-radius: 25px 0px 0px 25px;
    font-size: 25px;
    margin-left: -15px;
}

/*simple small post*/
@media (min-width: 1200px){
    .custom-container {
        width: 1170px;
        padding: 0px;
        margin: auto
    }
}
.custom-container .item{
    margin: 0px -15px;
}
.simple-small header{
    font-family: 'ProximaNova-Semibold';
    padding: 15px 15px 1px 15px;
    min-height: 150px;
    background-color: #fff;
}
.simple-small header .category a{
    color: #00cccb;
    font-size: 13px;
    text-decoration: none;
}
.simple-small header .category .heart-icons{
    float: right;
    color: #ff008a;
    font-size: 20px;
    cursor: pointer;
    max-height: 20px;
    text-align: center;
    width: 40px;
    margin-top: 0px;
    margin-right: -10px;
    font-weight: bold;
}
.simple-small header h3{
    font-size: 18px;
    margin-top: 10px;
    line-height: 21px;
}
.simple-small header h3 a{
    color: #495B5B;
    text-decoration: none;
}
.simple-small .thumb{
    max-height: 263px;
    min-height: 263px;
    width: 100%;
}
.simple-small .hhwt-review-post{
    padding: 0px;
}
.simple-small .hhwt-review-post .hhwt-points{
    padding: 0px;
}
.simple-small .hhwt-review-post .hhwt-points h3{
    margin: 0px;
}
.simple-small .hhwt-review-post .hhwt-points p{
    margin: 0px;
    font-family: 'ProximaNova-Regular';
    font-size: 13px;    
}
.simple-small .hhwt-review-post .hhwt-reviews{
    padding: 0px;
    text-align: right;
}
.simple-small .hhwt-review-post .hhwt-reviews p{
    margin: 0px;
    font-family: 'ProximaNova-Regular';
    font-size: 13px;
}

.hhwt-modern-medium-categorites{
    padding-left: 0px;
    padding-right: 0px;
}
.hhwt-modern-medium-categorites a img{
    width: 100%;
    min-height: 320px;
    max-height: 320px;
    border: 1px solid #fff;
}
.hhwt-modern-medium-categorites header{
    position: absolute;
    top: 0;
    margin: 50px auto 0px;
    text-align: center;
    width: 100%;
    font-family: 'ProximaNova-Bold';
    padding: 0px 15px;
}
.hhwt-modern-medium-categorites h3{
    font-size: 35px;
    margin-top: 5px;
}
.hhwt-modern-medium-categorites h3 a{
    color: #fff;
    text-decoration: none;
    outline: none;
}

/************************footer css******************************/

.hhwt-footer-fluid {
    background-color: #dbf0f1;
    padding-bottom: 35px;
    padding-top: 35px;
}
.hhwt-footer-fluid .hhwt-footer-container, .hhwt-footer-categories, .hhwt-footer-grid{
    padding: 0px;
}
.hhwt-footer-container .hhwt-footer-categories .hhwt-footer-grid .titles {
    font-family: ProximaNova-Bold;
    font-size: 15px;
    margin-top: 0px;
    color: #405050;
}
.hhwt-footer-container .hhwt-footer-categories .hhwt-footer-grid .links {
    list-style-type: none;
    padding-left: 0;
}
.hhwt-footer-container .hhwt-footer-categories .hhwt-footer-grid .links li {
    font-family: ProximaNova;
}
.hhwt-footer-container .hhwt-footer-categories .hhwt-footer-grid .links li a {
    color: #00cccb;
    font-size: 14px;
}
.hhwt-footer-container .hhwt-footer-follow {
    padding: 0px;
}
.hhwt-footer-container .hhwt-footer-follow h4 {
    font-family: ProximaNova-Bold;
    font-size: 15px;
    margin-top: 0px;
    color: #405050;
}
.hhwt-footer-container .hhwt-footer-follow a .social_fb {
    padding: 11px 15px 10px 15px;
    color: #fff;
    background-color: #00cccb;
    font-size: 19px;
    border-radius: 50%;
    margin-left: -12px;
}
.hhwt-footer-container .hhwt-footer-follow a .social {
    padding: 11px 12px 10px 12px;
    color: #fff;
    background-color: #00cccb;
    font-size: 19px;
    border-radius: 50%;
    margin-left: -12px;
}
.hhwt-footer-container .hhwt-footer-download {
    padding: 0px;
}
.hhwt-footer-container .hhwt-footer-download h4 {
    font-family: ProximaNova-Bold;
    font-size: 15px;
    margin-top: 0px;
    color: #405050;
}
.hhwt-footer-container .hhwt-footer-download a img {
    margin-top: 7px;
    margin-left: -2px;
}
.hhwt-footer-container .hhwt-footer-logo {
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: center;
}
.hhwt-footer-container .hhwt-footer-copyright {
    font-family: ProximaNova;
    font-size: 10px;
    text-align: center;
}
.hhwt-footer-container .hhwt-footer-copyright p {
    margin-bottom: 0px;
}
.hhwt-footer-container .hhwt-footer-agree {
    font-family: ProximaNova;
    text-align: center;
}
.hhwt-footer-container .hhwt-footer-agree a {
    color: #00cccb;
    text-decoration: underline;
    font-size: 10px;
}
.hhwt-footer-container .hhwt-footer-agree span {
    font-size: 11px;
}

@media only screen and (max-width: 991px) {
    .hhwt-footer-container .hhwt-footer-follow a .social_fb {
        padding: 9px 13px 8px 13px;
    }
    .hhwt-footer-container .hhwt-footer-follow a .social {
        padding: 9px 10px 8px 10px;
    }
}
@media only screen and (max-width: 767px) {
    .hhwt-footer-fluid {
        padding-bottom: 15px;
        padding-top: 15px;
        text-align: center;
    }
    .hhwt-footer-container .hhwt-footer-download {
        display: none;
    }
    .hhwt-footer-container .hhwt-footer-categories .hhwt-footer-grid {
        margin-bottom: 20px;
    }
    .hhwt-destination-container{
        padding: 0px 15px;
    }
    .hhwt-destination-container .hhwt-destination-btn{
        margin-right: -4px;
    }
}

/* Signup/Login Modal popup */
.hhwt-signup-content {
  overflow: auto;
  background-color: #fefefe;
  margin: auto;
  padding: 20px 0px;
  border: 1px solid #888;
  width: 350px;
  color: #6d7272;
}
.hhwt-signup-content .hhwt-signup-header {
  min-height: 38px;
  font-size: 16px;
  font-family: 'ProximaNova-Semibold';
  border-bottom: 2px solid #e5e5e5;
  padding-top: 0;
  padding-bottom: 0;
}
.hhwt-signup-content .hhwt-signup-header .hhwt-nav-pills li {
  background: none;
  text-align: center;
  margin: 0px;
}
.hhwt-signup-content .hhwt-signup-header .hhwt-nav-pills li a {
  background: none;
  font-size: 18px;
  color: #6D7272 !important;
  padding-top: 0px;
  outline: none;
}
.hhwt-signup-content .hhwt-signup-header .hhwt-nav-pills li a:hover {
  background: none;
  color: #6D7272;
}
.hhwt-signup-content .hhwt-signup-header .hhwt-nav-pills .active {
  background: none;
  text-align: center;
  border-bottom: none;
}
.hhwt-signup-content .hhwt-signup-header .hhwt-nav-pills .active a {
  border-bottom: 2px solid #08CCCB;
  border-radius: 0px;
}
.hhwt-signup-content .hhwt-signup-header .hhwt-nav-pills .active a:hover {
  background-color: #fff !important;
  font-size: 18px;
}
.hhwt-signup-content .hhwt-signup-body #hhwt-signup .hhwt-checkbox {
  font-size: 14px;
  font-family: 'ProximaNova';
  font-weight: 700;
  margin-bottom: 0;
  text-align: center;
}
.hhwt-signup-content .hhwt-signup-body #hhwt-signup .hhwt-checkbox label {
  display: block !important;
}
.hhwt-signup-content .hhwt-signup-body #hhwt-login .hhwt-facebook .facebookbutton, .hhwt-signup-content .hhwt-signup-body #hhwt-signup .hhwt-facebook .facebookbutton {
  color: #fff;
  background-color: #3e60aa;
  border-color: #3e60aa;
  font-size: 16px;
  font-family: 'ProximaNova-Bold';
  width: 100%;
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 9px 10px;
  outline: none;
}
.hhwt-signup-content .hhwt-signup-body #hhwt-login .hhwt-facebook .facebookbutton span, .hhwt-signup-content .hhwt-signup-body #hhwt-signup .hhwt-facebook .facebookbutton span {
  padding-right: 25px;
  font-size: 20px;
  margin-top: 0;
}
.hhwt-signup-content .hhwt-create-profile {
  display: none;
}
.hhwt-signup-content .hhwt-create-profile .hhwt-modal-header {
  padding: 0px 20px;
  border-bottom: 2px solid #e5e5e5;
}
.hhwt-signup-content .hhwt-create-profile .hhwt-register-form {
  padding: 50px 0px 0px 0px;
}
.hhwt-signup-content .hhwt-create-profile .hhwt-register-form .hhwt-profile-form {
  width: 85%;
  margin: auto;
}
.hhwt-signup-content .hhwt-create-profile .hhwt-register-form .hhwt-checkbox {
  font-size: 14px;
  font-family: 'ProximaNova';
  font-weight: 700;
  margin-bottom: 0;
  text-align: center;
}
.hhwt-signup-content .hhwt-create-profile .hhwt-register-form .hhwt-checkbox .checkbox-inline {
  font-size: 14px;
  font-family: 'ProximaNova';
  font-weight: 700;
  padding-top: 8px;
  padding-bottom: 8px;
}
.hhwt-signup-content .hhwt-create-profile .hhwt-register-form .create-profile-btn {
  font-size: 16px;
  font-family: 'ProximaNova-Bold';
  background-color: #989c9c;
  color: #fff;
  border: none;
  padding: 12px 10px;
  border-radius: 3px;
  outline: none;
  width: 100%;
}
.hhwt-signup-content .hhwt-login-form, .hhwt-signup-content .hhwt-signup-form, .hhwt-signup-content .hhwt-forget-form {
  display: none;
  padding: 0px;
}
.hhwt-signup-content .hhwt-login-form .hhwt-modal-header, .hhwt-signup-content .hhwt-signup-form .hhwt-modal-header, .hhwt-signup-content .hhwt-forget-form .hhwt-modal-header {
  padding: 0px 20px;
  border-bottom: 2px solid #e5e5e5;
}
.hhwt-signup-content .hhwt-login-form .hhwt-modal-body, .hhwt-signup-content .hhwt-signup-form .hhwt-modal-body, .hhwt-signup-content .hhwt-forget-form .hhwt-modal-body {
  padding: 50px 40px 0px;
}
.hhwt-signup-content .hhwt-login-form .hhwt-modal-body .registerform, .hhwt-signup-content .hhwt-signup-form .hhwt-modal-body .registerform, .hhwt-signup-content .hhwt-forget-form .hhwt-modal-body .registerform {
  width: 85%;
  margin: auto;
}
.hhwt-signup-content .hhwt-login-form .hhwt-modal-body .hhwt-submit-btn, .hhwt-signup-content .hhwt-signup-form .hhwt-modal-body .hhwt-submit-btn, .hhwt-signup-content .hhwt-forget-form .hhwt-modal-body .hhwt-submit-btn {
  background-color: #00cccb;
  color: #fff;
  border: none;
  padding: 12px 10px;
  border-radius: 3px;
  outline: none;
  width: 100%;
  font-size: 16px;
  font-family: 'ProximaNova-Bold';
}
.hhwt-signup-content .hhwt-login-form .hhwt-modal-body .hhwt-terms-condition, .hhwt-signup-content .hhwt-signup-form .hhwt-modal-body .hhwt-terms-condition, .hhwt-signup-content .hhwt-forget-form .hhwt-modal-body .hhwt-terms-condition {
  font-family: 'ProximaNova-Bold';
  font-size: 16px;
  cursor: pointer;
}
.hhwt-signup-content .hhwt-login-form .hhwt-modal-body .hhwt-terms-condition#forget-password, .hhwt-signup-content .hhwt-signup-form .hhwt-modal-body .hhwt-terms-condition#forget-password, .hhwt-signup-content .hhwt-forget-form .hhwt-modal-body .hhwt-terms-condition#forget-password {
  color: #00cccb;
}
.hhwt-signup-content .hhwt-popup-title {
  font-family: 'ProximaNova-Bold';
  text-align: center;
  padding-bottom: 13px;
}
.hhwt-signup-content .hhwt-popup-title #hhwt-back-forget {
  font-size: 15px;
  color: #00cccb;
  cursor: pointer;
  float: left;
}
.hhwt-signup-content .hhwt-popup-title .hhwt-back {
  font-size: 15px;
  color: #00cccb;
  cursor: pointer;
  float: left;
}
.hhwt-signup-content .hhwt-popup-title .hhwt-back-signup {
  font-size: 15px;
  color: #00cccb;
  cursor: pointer;
  float: left;
}
.hhwt-signup-content .hhwt-popup-title .signup-title {
  margin: 0px;
  font-size: 16px;
  text-align: center;
}
.hhwt-signup-content h3 {
  font-size: 19px;
  font-family: 'ProximaNova-Bold';
  padding-bottom: 5px;
  padding-top: 10px;
  text-align: center;
  margin: 0px;
}
.hhwt-signup-content p {
  font-size: 15px;
  font-family: 'ProximaNova';
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}
.hhwt-signup-content .form-group {
  padding: 0px;
}
.hhwt-signup-content .form-group label {
  font-size: 14px;
  font-family: 'ProximaNova';
  font-weight: 700;
  padding-top: 8px;
  padding-bottom: 8px;
  display: none;
}
.hhwt-signup-content .form-group .form-control {
  height: 45px;
  font-size: 16px;
  font-family: 'ProximaNova';
  color: #6f7280;
  outline: none;
  box-shadow: none;
}
.hhwt-signup-content .form-group .form-control::-webkit-input-placeholder {
  color: #6f7280;
}
.hhwt-signup-content .form-group .form-control::-moz-placeholder {
  color: #6f7280;
}
.hhwt-signup-content .form-group .hhwt-first-name {
  padding-left: 0px;
}
.hhwt-signup-content .form-group .hhwt-last-name {
  padding-right: 0px;
}
.hhwt-signup-content .form-group .form-control.error {
  border: 1px solid #a94442;
}
.hhwt-signup-content .form-group .error {
  color: #BB4442;
  font-family: 'ProximaNova';
}
.hhwt-signup-content .hhwt-terms-condition {
  font-family: 'ProximaNova';
  font-weight: 700;
  font-size: 14px;
  padding-top: 7px;
  text-align: center;
}
.hhwt-signup-content .hhwt-terms-condition span {
  color: #00cccb;
  cursor: pointer;
}

.hhwt-signup-form .hhwt-next, .hhwt-signup-form .hhwt-prev {
  font-size: 15px;
  color: #00cccb;
  background: transparent;
  border: none;
  font-family: 'ProximaNova-Bold';
  outline: none;
}
.hhwt-signup-form .hhwt-next {
  margin-top: 15px;
  float: right;
}
.hhwt-signup-form .hhwt-next i {
  margin-left: 3px;
}
.hhwt-signup-form .hhwt-prev {
  margin-bottom: 15px;
  float: left;
}
.hhwt-signup-form .hhwt-prev i {
  margin-right: 3px;
}

.hhwt-signup-form .hhwt-form-registration #Step2 {
  display: none;
}
.hhwt-signup-form .hhwt-form-registration .form-group select {
  height: 45px;
  width: 100%;
  padding-left: 7px;
  border: 1px solid #ccc;
  font-family: 'ProximaNova-Bold';
  color: #6f7280;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
#hhwt-modal-signup .alert{
  display: none;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .modal-header .close {
    margin-top: -12px;
  }
  .hhwt-signup-content .hhwt-signup-header .hhwt-nav-pills li{
    padding: 0px;
  }
  .hhwt-signup-content .hhwt-login-form .hhwt-modal-body, .hhwt-signup-content .hhwt-signup-form .hhwt-modal-body, .hhwt-signup-content .hhwt-forget-form .hhwt-modal-body {
    padding: 15px 20px 0px;
  }
  .hhwt-signup-content p{
    margin-bottom: 0px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 450px) {
  .hhwt-signup-content{
    width: 300px;
  }
}

/* Destination */
.hhwt-single-category p a{
    font-size: 14px;
    font-family: 'ProximaNova-Bold';
    color: #08CCCB;
    margin: 20px 0px 0px 0px;
    text-decoration: none;
}
.hhwt-single-category .hhwt-destinations-category{
    padding: 30px 0px;
}
.hhwt-single-category .icon-right{
    font-size: 15px;
    padding: 0px 15px;
}
.hhwt-single-category h3{
    margin-top: 10px;
    margin-bottom: 20px;
}
.hhwt-single-category h3 a{
    font-size: 40px;
    font-family: 'ProximaNova-Bold';
    color: #556767;  
    text-decoration: none;
}
.hhwt-single-category .hhwt-search-category{
    padding: 0px;
}
.hhwt-single-category .hhwt-search-category .search-box {
    float: right;
    max-width: 230px;
    margin-top: 55px;
    height: 40px;
}
.hhwt-single-category .hhwt-search-category .search-box span {
    background: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.hhwt-single-category .hhwt-search-category .search-box span .fa-search {
    color: #9999B2;
}
.hhwt-single-category .hhwt-search-category .search-box input {
    padding: 20px 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: none;
}
.hhwt-single-category .hhwt-search-category .search-box input:focus{
    box-shadow: none;
    border-color: #ccc;
}

.hhwt-destinations-fluid {
    background: #F5F6F8;
    padding: 35px 0px 0px;
    border-top: 1px solid #ddd;
}

.hhwt-dest-head {
    padding: 0px;
}
.hhwt-dest-head .col-md-3{
    margin-bottom: 35px;
}

.hhwt-destination-container {
    padding: 0px;
}
.hhwt-destination-container .modern-medium img{
    min-height: 413px;
    max-height: 413px;
    width: 100%;
}
.hhwt-destination-container .modern-medium header {
    font-family: 'ProximaNova-Semibold';
    position: absolute;
    top: 0;
    padding: 15px 0px 0px 15px;
}
.hhwt-destination-container .modern-medium header p a{
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}
.hhwt-destination-container .modern-medium header h3{
    font-size: 20px;
    margin-top: 14px;
}
.hhwt-destination-container .modern-medium header h3 a{
    color: #fff;
    font-size: 20px;
    margin-top: 14px;
    text-decoration: none;
}

@media (min-width: 0px) and (max-width: 767px){
    .hhwt-single-category .hhwt-destinations-category {
        padding: 15px 0px;
        text-align: center;
    }
    .hhwt-single-category .hhwt-search-category {
        text-align: center;
        float: none;
    }
    .hhwt-single-category .hhwt-search-category .search-box {
        float: none; 
        margin: auto;
        padding: 30px 0px;
    }
    .hhwt-single-category h3 {
        margin: 0px;
    }
    .hhwt-destination-container .modern-medium img{
        min-height: 265px;
        max-height: 265px;
    }
}

/* City */
.city-page{
    padding-top: 4em !important;
}
.city-page .hhwt-destinations-category{
    padding: 10px 0px;
}
.city-page .hhwt-destinations-category p{
    margin: 0px;
}
.city-experience-menu{
    display: flex;
    float: right;
    list-style-type: none;
}
.city-experience-menu li{
    padding-top: 15px;
}
.city-experience-menu li a{
    font-family: 'ProximaNova-Bold';
    font-size: 15px;
    margin-top: 0px;
    color: #405050;
    padding-left: 40px;
}
.city-experience-menu li a:hover{
    text-decoration: none;
}
.city-page .hhwt-destination-fluid{
    margin: 0px;
    padding: 45px 0px;
}
.city-detail-fluid, .hhwt-destination-fluid, .hhwt-search-fluid{
    background-color: #F5F6F8;
    padding: 25px 0px;
}
.city-detail-container{
    padding: 0px;
}
.city-detail-container h1{
    font-size: 40px;
    font-family: 'ProximaNova-Bold';
    color: #556767;
    text-align: center;
}
.city-detail-container p{
    font-size: 16px;
    font-family: 'ProximaNova';
    color: #556767;
    text-align: center;
    width: 76%;
    margin: 0px auto;
}
.city-detail-container .hhwt-exp-type{
    width: 300px;
    text-align: center;
    border-radius: 50px;
    height: 40px;
    box-shadow: none;
    font-family: 'ProximaNova-Semibold';
    margin: 30px auto 0px;
    background-color: #fff;
}
#hhwt-post .rating.rating-small, #popular-experiences .rating.rating-small {
    width: 53% !important;
    color: orange !important;
}
@media only screen and (max-width: 767px) {
    .city-experience-menu{
        display: none;
    }
    .city-page {
        padding-top: 0em !important;
    }
}

/* Activity */
.activity-page{
    padding-top: 3.3125em !important;
}

.activity-banner-fluid{
    background-image: url("../images/Singapore.jpg");
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}
.activity-banner-container{
    padding: 0px; 
}
.activity-banner-title{
    width: 60%;
    margin: 0;
    padding: 150px 0px 0px 0px;
    color: #fff;
}
.activity-banner-title h1{
    font-family: 'ProximaNova-Bold';
    color: #fff;
    font-size: 46px;
    margin: 0px;
    padding: 0px 15px;
    line-height: 60px;
}
.activity-menu-fluid{
    background-color: #F5F6F8;
    padding: 0px;
}
.activity-menu-fluid .hhwt-destinations-category{
    padding: 15px 0px;
}
.activity-menu-fluid .hhwt-destinations-category p{
    margin: 0px;
}
.activity-content-cotainer{
    padding: 25px 0px;
}
 .activity-content{
    padding: 0px;
}
.activity-content h1{
    font-size: 40px;
    font-family: 'ProximaNova-Bold';
    color: #556767;
    margin: 0px;
}
.activity-content h3{
    font-size: 25px;
    font-family: 'ProximaNova-Bold';
    color: #556767;
    margin-top: 40px;
}
.activity-content p{
    font-size: 16px;
    font-family: 'ProximaNova';
    color: #556767;
    margin-top: 10px;
}
.activity-host-content{
    display: flex;
}
.activity-host-content img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.activity-host-detail{
    margin-left: 15px;
}
.activity-host-detail span a{
    font-family: 'ProximaNova-Bold';
    color: #00cccb;
    text-decoration: none;
}
.activity-host-detail p{
    margin: 0px 0px 10px;
}
.activity-host-detail .ask-host{
    font-size: 15px;
    font-family: 'ProximaNova-Semibold';
    background-color: #00cccb;
    color: #fff;
    border-radius: 20px;
    line-height: 15px;
    padding: 10px 15px;
    outline: none;
    text-decoration: none;
}
.activity-content ul{
    list-style-type: none;
}
.activity-content ul li{
    font-family: 'ProximaNova-Semibold';
}
.activity-content ul li:before{
    content: "\2713";
    color: #00cccb;
    font-weight: 900;
    margin-right: 10px;
}
.activity-content .activity-location iframe{
    width: 75%;
    height: 250px;
}
.activity-review{
    display: flex;
    padding: 15px 0px;
    border-bottom: 2px solid #F5F6F8;
}
.activity-review:nth-child(3){
    border-bottom: none;
}
.activity-review .author-image{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.activity-review-details{
    margin-left: 15px;
}
.activity-review p.author-name, .activity-review p.review-title{ 
    font-family: 'ProximaNova-Semibold';
    margin-bottom: 0px;
    margin-top: 5px;
}
.activity-review .review-time{
    display: block;
    color: #97afaf;
}
.activity-review .review-content{
    margin: 0px;
}
.activity-review-section .view-review{
    display: block;
    max-width: 150px;
    text-align: center;
    font-size: 15px;
    font-family: 'ProximaNova-Semibold';
    background-color: #F5F6F8;
    color: #556767;
    border-radius: 20px;
    line-height: 15px;
    margin: 15px 0px 0px 55px;
    padding: 10px 15px;
    outline: none;
    text-decoration: none;
}
.hhwt-activity-slider{
    margin-bottom: 0px;
    padding-bottom: 75px;
}
.activity-table-details tr{
    margin-bottom: 25px;
}
.activity-table-details tr td:first-child{
    font-size: 16px;
    font-family: 'ProximaNova-Semibold';
    color: #556767;
    margin-right: 15px;
    display: block;
}
.activity-table-details tr td{
    font-size: 16px;
    font-family: 'ProximaNova';
    color: #556767;
}
.city-experience-menu .hhwt-save-button{
    background: #F2007B;
    border: none;
    padding: 7px 10px;
    color: #fff;
    font-size: 16px;
    border-radius: 34px;
    font-family: 'ProximaNova-Semibold';
}
.city-experience-menu .hhwt-save-button i{
    margin-top: 3px;
    margin-right: 7px;
}
.city-experience-menu .fb-btn{
    background: #4066B1;
    padding: 9px 15px;
    color: #fff;
    border-radius: 34px;
    border: #4066B1;
    font-family: 'ProximaNova-Semibold';
}
.city-experience-menu .tw-btn{
    background: #1BA2F4;
    padding: 9px 13px;
    color: #fff;
    border-radius: 34px;
    border: #1BA2F4;
    font-family: 'ProximaNova-Semibold';
}
.activity-content p.main-rating img{
    margin-left: 15px;
    margin-top: -4px;
}
.activity-content p.main-rating{
    font-weight: 600;
}
.activity-content p.main-count{
    margin-top: 0px;
}
.activity-content h3.main-price{
    margin-top: 10px;
    margin-bottom: 0px;
}
.activity-content-cotainer .hhwt-activity-booking h1{
    background-color: #D8D8D8;
    border: 1px solid #9D9D9D;
    padding: 40px;
    font-family: 'ProximaNova-Bold';
    color: #fff;
    font-size: 35px;
    line-height: 40px;
}
.hhwt-single-category .city-experience-menu{
    padding: 0px;
}
.hhwt-single-category .city-experience-menu .hhwt-city-menu{
    display: flex;
    padding: 15px 0px;
}
.hhwt-single-category .city-experience-menu a{
    font-family: 'ProximaNova-Bold';
    font-size: 16px;
    color: #405050;
    text-decoration: none;
    padding: 0px 10px;
}
.hhwt-single-category .hhwt-social-share-btn{
    padding: 8px 0px;
    display: block;
}
.hhwt-single-category .hhwt-social-share-btn .save-bucket{
    margin: 0px 5px 0px 30px;
}
.hhwt-single-category .hhwt-social-share-btn .fb-btn{
    margin: 0px 8px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .activity-menu-fluid .hhwt-destinations-category p {
        text-align: center;
    }
    .hhwt-single-category .hhwt-social-share-btn button{
        margin: 0px 15px;
    }
    .hhwt-single-category .hhwt-social-share-btn{
        text-align: center;
    }
}
@media (min-width: 0px) and (max-width: 767px){
    .activity-banner-title {
        width: 100%;
    }
    .activity-content-cotainer {
        padding: 25px 15px;
    }
    .activity-content h1{
        font-size: 30px;
    }
    .hhwt-single-category .city-experience-menu .hhwt-city-menu{
        display: block;
        text-align: center;
    }
    .hhwt-single-category .city-experience-menu{
        display: block;
    }
    .hhwt-single-category .city-experience-menu a {
        padding: 0px 7px;
    }
    .hhwt-single-category .hhwt-social-share-btn button{
        margin: 0px 15px;
    }
    .hhwt-single-category .hhwt-social-share-btn{
        text-align: center;
    }
}

/* Search */
.hhwt-search-fluid, .hhwt-filter-fluid{
    background-color: #F5F6F8;
    padding: 25px 0px;
}
.search-grid{
    clear: both;
    float: none;
    overflow: hidden;
    padding-bottom: 30px;
    margin-left: -15px;
}
.hhwt-filter-fluid .hhwt-filter{
    border-radius: 50px;
    height: 40px;
    box-shadow: none;
    font-family: 'ProximaNova-Semibold';
    background-color: #fff;
}
.hhwt-spec-filters{
    padding: 0px;
}
.hhwt-filter-fluid .hhwt-filter-status{
    width: 120px;
}
.hhwt-filter-fluid .hhwt-sort-filter{
    width: 80px;
    margin-right: 25px;
}
.hhwt-filter-fluid .hhwt-duration-filter{
    width: 150px;
    margin-right: 25px;
}
.hhwt-filter-fluid .hhwt-price-filter{
    width: 130px;
    margin-right: 25px;
}
.hhwt-filter-fluid .hhwt-city-filter{
    width: 250px;
    margin-right: 25px;
}
.hhwt-filter-fluid .hhwt-category-filter{
    width: 250px;
    margin-right: 25px;
}
.hhwt-filter-container{
    padding: 0px;
}
.hhwt-hide-filter{
    display: flex;
    padding: 0px;
}
.hhwt-city-filters{
    display: flex;
    padding: 20px 0px 0px;
}
.hhwt-hide-filter .filter-reset{
    margin: 10px 0px 0px 15px;
}
.hhwt-hide-filter .filter-reset a{
    color: #556767;
    font-family: 'ProximaNova-Semibold';
}
.hhwt-hide-filter .filter-reset a:hover{
    text-decoration: none;
}
.search-keyword{
    max-width: 230px;
    height: 40px;
}
.search-keyword .input-group-addon{
    background: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.search-keyword .form-control{
    padding: 20px 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: none;
}
.filter-list{
    display: flex;
    float: right;
    list-style-type: none;
}
@media only screen and (max-width: 767px) {
    .activity-page{
        padding-top: 0em !important;
    }
    .hhwt-spec-filters{
        overflow: hidden;
        clear: both;
    }
    .hhwt-city-filters{
        display: block;
    }
    .hhwt-filter-fluid .hhwt-city-filter, .hhwt-filter-fluid .hhwt-category-filter, .search-keyword{
        width: 100%;
        margin-top: 10px;
        max-width: 100%;
    }
    .hhwt-filter-fluid .hhwt-price-filter, .hhwt-filter-fluid .hhwt-duration-filter{
        margin-top: 10px;
    }
    .hhwt-city-filters{
        padding: 0px;
    }
    .hhwt-filter-fluid .hhwt-sort-filter{
        margin-right: 0px;
    }
    .hhwt-filter-fluid .hhwt-price-filter, .hhwt-filter-fluid .hhwt-duration-filter{
        margin-top: 0px;
        margin-right: 0px;
    }
    .filter-list{
        margin-top: 10px;
        float: none;
        padding: 0px;
    }
    .hhwt-filter-fluid{
        padding: 15px;
    }
    .hhwt-filter-fluid .hhwt-duration-filter{
        width: 130px;
    }
    .search-grid{
        margin-left: 0px;
    }
}