@font-face {
    font-family: 'ProximaNova';
    src: url("../fonts/proximanova/proximanova-regular-webfont.eot");
    src: url("../fonts/proximanova/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/proximanova-regular-webfont.woff") format("woff"), url("../fonts/proximanova/proximanova-regular-webfont.ttf") format("truetype"), url("../fonts/proximanova/proximanova-regular-webfont.svg#proximanovaregular") format("svg");
    -webkit-font-smoothing: antialiased;
    /* This needs to be set or some font faced ../fonts look bold on Mac in Chrome/Webkit based browsers. */
    -moz-osx-font-smoothing: grayscale;
    /* Fixes font bold issue in Firefox version 25+ on Mac */
}
@font-face {
    font-family: 'ProximaNova-Bold';
    src: url("../fonts/proximanova/proximanova-bold-webfont.eot");
    src: url("../fonts/proximanova/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/proximanova-bold-webfont.woff") format("woff"), url("../fonts/proximanova/proximanova-bold-webfont.ttf") format("truetype"), url("../fonts/proximanova/proximanova-bold-webfont.svg#proximanovabold") format("svg");
    -webkit-font-smoothing: antialiased;
    /* This needs to be set or some font faced ../fonts look bold on Mac in Chrome/Webkit based browsers. */
    -moz-osx-font-smoothing: grayscale;
    /* Fixes font bold issue in Firefox version 25+ on Mac */
}
@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url("../fonts/proximanova/proximanova-semibold-webfont.eot");
    src: url("../fonts/proximanova/proximanova-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/proximanova-semibold-webfont.woff") format("woff"), url("../fonts/proximanova/proximanova-semibold-webfont.ttf") format("truetype"), url("../fonts/proximanova/proximanova-semibold-webfont.svg#proximanovasemibold") format("svg");
    -webkit-font-smoothing: antialiased;
    /* This needs to be set or some font faced ../fonts look bold on Mac in Chrome/Webkit based browsers. */
    -moz-osx-font-smoothing: grayscale;
    /* Fixes font bold issue in Firefox version 25+ on Mac */
}
@font-face {
    font-family: 'ProximaNova-Regular';
    src: url("../fonts/proximanova/proximanova-semibold-webfont.eot");
    src: url("../fonts/proximanova/proximanova-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/proximanova-semibold-webfont.woff") format("woff"), url("../fonts/proximanova/proximanova-semibold-webfont.ttf") format("truetype"), url("../fonts/proximanova/proximanova-semibold-webfont.svg#proximanovasemibold") format("svg");
    -webkit-font-smoothing: antialiased;
    /* This needs to be set or some font faced ../fonts look bold on Mac in Chrome/Webkit based browsers. */
    -moz-osx-font-smoothing: grayscale;
    /* Fixes font bold issue in Firefox version 25+ on Mac */
}


/******************hhwt-header css*********************/

.hhwt-header-fluid {
    background-color: #00cccb;
    max-height: 72px;
    padding: 0px;
}
.hhwt-header-container {
  padding: 0px;
}
.hhwt-header-container .hhwt-nav-menu-li {
    margin-left: 15px;
    margin-right: 15px;
    min-height: 72px;
}
.hhwt-header-container .hhwt-nav-menu-li .search {
    max-width: 180px;
    margin-top: 14px;
    height: 40px;
}
.hhwt-header-container .hhwt-navbar .hhwt-nav-menu-li .search span {
    background-color: #009fa2;
    border: none;
    color: #d1f0ef;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li .search input {
    background-color: #009fa2;
    border: none;
    color: #fff;
    padding: 20px 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li .search input:focus {
    box-shadow: none;
}
.hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li .search input::-webkit-input-placeholder {
    color: #d1f0ef;
}
.hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li .search input::-moz-placeholder {
    color: #d1f0ef;
}
.hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li .search .input-close {
    display: none;
    position: absolute;
    z-index: 99;
    right: 15px;
    top: 9px;
}
.hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li .search.search-bg span {
    background-color: #fff;
    color: #405050;
}
.hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li .search.search-bg input {
    color: #405050;
}
.hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li .search.search-bg input:focus {
    background-color: #fff;
}
.hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li .search.search-bg input::-webkit-input-placeholder {
    color: #fff;
}
.hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li .search.search-bg input::-moz-placeholder {
    color: #fff;
}
.hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li .search.search-bg .input-close {
    display: flex;
    cursor: pointer;
}
.hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li a {
    color: #fff;
    margin-top: 8px;
    padding-right: 0px;
    padding-left: 0px;
    font-family: 'ProximaNova-Semibold';
    font-size: 14px;
}
.hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li a:hover, .hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li a:active, .hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li a:visited, .hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li a:focus {
    text-decoration: none;
    background-color: transparent;
}
.hhwt-header-container .hhwt-navbar .hhwt-nav-menu-li.hhwt-nav-menu-li-items span {
    margin-right: 8px;
}
.hhwt-header-container .hhwt-navbar .hhwt-nav-menu-li.hhwt-nav-menu-li-items span img {
    width: 22px;
}

.hhwt-header-container .hhwt-navbar .hhwt-nav-menu-li.dropdown:hover a {
    color: #008489;
    background-color: transparent;
}
.hhwt-header-container .hhwt-nav-menu-right .hhwt-nav-menu-profile{
    margin: 15px 5px;
}
.hhwt-header-container .hhwt-nav-menu-right .hhwt-nav-menu-profile img{
    width: 40px;
    height: 40px;
}
.hhwt-header-container .hhwt-nav-menu-right .hhwt-nav-menu-icons, .hhwt-nav-menu-message{
    color: #fff;
    margin: 25px 15px;
}
.hhwt-header-container .hhwt-nav-menu-right .hhwt-nav-menu-message .fa-circle{
    top: -2px;
    position: absolute;
    left: 15px;
    font-size: 10px;
    color: #E8007A;
}
.hhwt-header-container .hhwt-nav-menu-right .hhwt-nav-menu-icons .fa-bell{
    font-size: 18px;
    margin-top: 2px;
}
.hhwt-header-container .hhwt-nav-menu-right .hhwt-nav-menu-icons .fa-circle{
    top: -2px;
    position: absolute;
    left: 10px;
    font-size: 10px;
    color: #E8007A;
}
.hhwt-header-container .hhwt-nav-menu-right .hhwt-nav-menu-name{
    color: #fff;
}

.hhwt-header-container .hhwt-navbar .hhwt-nav-menu-right {
    margin-right: 0px;
}
.hhwt-header-container .hhwt-navbar .hhwt-nav-menu-right li a{
    color: #fff;
    margin-top: 8px;
    padding-right: 0px;
    padding-left: 0px;
    font-family: 'ProximaNova-Semibold';
    font-size: 14px;
}
.hhwt-header-container .hhwt-navbar .hhwt-nav-menu-right li a:hover, .hhwt-header-container .hhwt-navbar .hhwt-nav-menu-right li a:visited, .hhwt-header-container .hhwt-navbar .hhwt-nav-menu-right li a:focus, .hhwt-header-container .hhwt-navbar .hhwt-nav-menu-right li a:active{
    background-color: transparent;
}
.hhwt-header-container .hhwt-navbar .navbar-brand {
    padding-left: 0px;
}
.hhwt-header-container .hhwt-navbar .collapse {
    display: block;
}
.hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li.dropdown:hover > .dropdown-menu {
    display: block;
}

@media only screen and (max-width: 991px) {
    .hhwt-header-container .navbar-header .navbar-brand {
        padding-left: 0px;
        padding-right: 0px;
    }
    .hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li {
        margin-left: 8px;
        margin-right: 8px;
    }
    .hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li a {
        font-size: 13px;
    }
    .hhwt-header-container .hhwt-navbar .hhwt-nav-menu-right .hhwt-nav-menu-right-li a {
        font-size: 13px;
    }
}
@media only screen and (min-width: 768px) {
    .hhwt-header-container .hhwt-navbar .collapse {
        display: block;
    }
    .hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li.dropdown:hover > .dropdown-menu {
        display: block;
    }
}
@media only screen and (max-width: 767px) {
    .hhwt-header-fluid {
        max-height: 140px;
    }
    .hhwt-header-container .hhwt-navbar {
        margin-bottom: 0px;
    }
    .hhwt-header-container .hhwt-navbar .hhwt-nav-menu {
        display: flex;
        width: 100%;
        margin: 0px;
    }
    .hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li:first-child {
        display: none;
    }
    .hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li {
        text-align: center;
        margin: auto;
        min-height: auto;
    }
    .hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li p {
        display: none;
    }
    .hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li a {
        padding-bottom: 8px;
        padding-top: 5px;
        margin-top: 0px;
    }
    .hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li .hhwt-menu-dropdown {
        position: absolute;
        background-color: #fff;
        margin-top: 2px;
        min-width: 300px;
    }
    .hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li .hhwt-menu-dropdown li.hhwt-dropdown-li .dropdown-search input {
        max-width: 165px;
    }
    .hhwt-header-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li.active {
        display: block;
    }
    .hhwt-header-container .hhwt-navbar .hhwt-nav-menu-right {
        position: absolute;
        top: 0;
        display: flex;
        margin: 0px;
        right: 0;
        left: auto;  display: flex;
        margin: 0px;
    }
    .hhwt-header-container .hhwt-navbar .hhwt-nav-menu-right li a{
        margin: 0px;
    }
    .hhwt-header-container .hhwt-navbar .hhwt-nav-menu-right li{
        margin: 0px;
        padding: 5px 15px;
    }
    .hhwt-header-container .hhwt-navbar .hhwt-mob-menu {
        padding: 0px 15px;
        text-align: center;
        margin-bottom: 15px;
    }
    .hhwt-header-container .hhwt-navbar .hhwt-mob-menu .hhwt-mob-search {
        font-size: 20px;
        color: #fff;
        left: 15px;
        position: absolute;
        padding-top: 15px;
    }
    .hhwt-header-container .hhwt-navbar .hhwt-mob-menu .hhwt-mob-logo {
        padding-top: 11px;
        margin-left: 15px;
        max-width: 80px;
    }
    .hhwt-navbar-fluid .hhwt-header-container .hhwt-navbar .hhwt-mob-menu .hhwt-mob-col-button {
        margin-right: 0px;
    }
    .hhwt-header-container .hhwt-navbar .hhwt-mob-menu .hhwt-mob-col-button .icon-bar {
        background-color: #fff;
    }
}

/*hhwt-featured-fluid banner*/

.hhwt-homepage{
    background-color: #F5F6F8;
}
.hhwt-single-category{
    padding: 0px;
}
.hhwt-featured-fluid{
    background-image: url("../images/Singapore.jpg");
    min-height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
}
.hhwt-featured-container .hhwt-featured-title{
    width: 60%;
    margin: 0 auto;
    padding: 150px 0px 0px 0px;
}
.hhwt-featured-container .hhwt-featured-title h1{
    text-align: center;
    font-family: 'ProximaNova-Bold';
    color: #fff;
    font-size: 46px;
    margin: 0px;
    padding: 0px 15px;
    line-height: 60px;
}
.hhwt-featured-container .dropdown-search{
    display: flex;
}
.hhwt-featured-container .dropdown-search .seachbox{
    height: 65px;
    border-radius: 50px 0px 0px 50px;
    font-family: 'ProximaNova';
    color: #999D9E;
    font-size: 16px;
}
.hhwt-featured-container .dropdown-search .search-span{
    height: 65px;
    border-radius: 0px 50px 50px 0px;
    background-color: #00cccb;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    padding: 20px 30px 20px 30px;
    font-family: 'ProximaNova';
}
.hhwt-featured-container .hhwt-searchmenu{
    margin-top: 70px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
    .hhwt-featured-container .hhwt-featured-title {
        width: 100%;
        padding: 98px 0px 0px 0px;
    }
    .hhwt-featured-container .hhwt-featured-title h1 {    
        font-size: 40px;    
        line-height: 45px;
        padding: 0px;
    }
    .hhwt-widget-container .hhwt-widget .hhwt-small-widget{
        margin: 25px 0px 25px !important;
    }
    .container{
        padding: 0px;
    }
    .hhwt-destination-fluid .hhwt-destination-container .hhwt-destination-title {
        font-size: 28px;
    }
    .simple-small header{
        min-height: 160px;
        max-height: 160px;
        overflow: hidden;
    }
    .custom-container .item{
        margin: 0px 0px !important;
    }
    .hhwt-header-container .hhwt-nav-menu-right .hhwt-nav-menu-profile{
        margin: 5px 5px !important;
    }
}
/*****************widget css*********************/

.hhwt-widget-fluid{
    background-color: #F5F6F8;
    padding-left: 0px;
    padding-right: 0px;
}
.hhwt-widget-container, .hhwt-widget{
    padding-left: 0px;
    padding-right: 0px;
}
.hhwt-widget-container .hhwt-widget .hhwt-small-widget{
    text-align: center;
    margin: 70px 0px 25px;
}
.hhwt-widget-container .hhwt-widget .hhwt-small-widget img{
    text-align: center;
} 
.hhwt-widget-container .hhwt-widget .hhwt-small-widget h3{
    text-align: center;
    color: #5A6666;
    font-family: 'ProximaNova-Bold';
    font-size: 30px;
}
.hhwt-widget-container .hhwt-widget .hhwt-small-widget p{
    text-align: center;
    color: #535959;
    font-family: 'ProximaNova';
    font-size: 19px;
}

/***********Destinations css************/

.hhwt-destination-fluid{
    padding-right: 0px;
    padding-left: 0px; 
    margin-bottom: 50px;
}
.hhwt-destination-container{
    padding: 0px;
    margin-bottom: 23px;
}
.hhwt-destination-container .hhwt-destination-title{
    font-family: 'ProximaNova-Bold';
    color: #405050;
    padding: 0px;
    font-size: 32px;
}
.hhwt-destination-container .hhwt-destination-btn{
    font-family: 'ProximaNova-Semibold';
    float: right;
    background-color: #00cccb;
    color: #fff;
    border-radius: 20px;
    max-width: 120px;
    margin-top: 8px;
}
.hhwt-destination-container .hhwt-destination-btn span{
    margin-left: 15px;
}
.hhwt-modern-medium{
    padding-left: 0px;
    padding-right: 0px;
}
.hhwt-modern-medium a img{
    width: 100%;
    min-height: 320px;
    max-height: 320px;
    border: 1px solid #fff;
}
.hhwt-modern-medium header{
    position: absolute;
    top: 0;
    margin: 15px auto 0px;
    text-align: center;
    width: 100%;
    font-family: 'ProximaNova-Bold';
}
.hhwt-modern-medium .category {
    font-size: 13px;
}
.hhwt-modern-medium .category a{
    color: #fff;
    text-decoration: none;
    outline: none;
}
.hhwt-modern-medium h3{
    font-size: 35px;
    margin-top: 5px;
}
.hhwt-modern-medium h3 a{
    color: #fff;
    text-decoration: none;
    outline: none;
}
.hhwt-destination-fluid .carousel-control.left {
    background: none;
    text-align: left;
    top: 46%;
    max-height: 40px;
    max-width: 35px;
    opacity: 1;
}
.hhwt-destination-fluid .carousel-control.right {
    background: none;
    text-align: right;
    top: 46%;
    max-height: 40px;
    max-width: 35px;
    opacity: 1;
    margin-right: 10px;
}
.carousel-control.left span {
    padding: 15px 20px;
    background-color: rgba(53, 52, 52, 0.64);
    border-radius: 0px 25px 25px 0px;
    font-size: 25px;
}
.carousel-control.right span {
    padding: 15px 20px;
    background-color: rgba(53, 52, 52, 0.64);
    border-radius: 25px 0px 0px 25px;
    font-size: 25px;
    margin-left: -15px;
}

/*simple small post*/
@media (min-width: 1200px){
    .custom-container {
        width: 1170px;
        padding: 0px;
        margin: auto
    }
}
.custom-container .item{
    margin: 0px -15px;
}
.simple-small header{
    font-family: 'ProximaNova-Semibold';
    padding: 15px 15px 1px 15px;
    min-height: 150px;
    background-color: #fff;
}
.simple-small header .category a{
    color: #00cccb;
    font-size: 13px;
    text-decoration: none;
}
.simple-small header .category .heart-icons{
    float: right;
    color: #ff008a;
    font-size: 20px;
    cursor: pointer;
    max-height: 20px;
    text-align: center;
    width: 40px;
    margin-top: 0px;
    margin-right: -10px;
    font-weight: bold;
}
.simple-small header h3{
    font-size: 18px;
    margin-top: 10px;
    line-height: 21px;
}
.simple-small header h3 a{
    color: #495B5B;
    text-decoration: none;
}
.simple-small .thumb{
    max-height: 263px;
    min-height: 263px;
    width: 100%;
}
.simple-small .hhwt-review-post{
    padding: 0px;
}
.simple-small .hhwt-review-post .hhwt-points{
    padding: 0px;
}
.simple-small .hhwt-review-post .hhwt-points h3{
    margin: 0px;
}
.simple-small .hhwt-review-post .hhwt-points p{
    margin: 0px;
    font-family: 'ProximaNova-Regular';
    font-size: 13px;    
}
.simple-small .hhwt-review-post .hhwt-reviews{
    padding: 0px;
    text-align: right;
}
.simple-small .hhwt-review-post .hhwt-reviews p{
    margin: 0px;
    font-family: 'ProximaNova-Regular';
    font-size: 13px;
}

.hhwt-modern-medium-categorites{
    padding-left: 0px;
    padding-right: 0px;
}
.hhwt-modern-medium-categorites a img{
    width: 100%;
    min-height: 320px;
    max-height: 320px;
    border: 1px solid #fff;
}
.hhwt-modern-medium-categorites header{
    position: absolute;
    top: 0;
    margin: 50px auto 0px;
    text-align: center;
    width: 100%;
    font-family: 'ProximaNova-Bold';
    padding: 0px 15px;
}
.hhwt-modern-medium-categorites h3{
    font-size: 35px;
    margin-top: 5px;
}
.hhwt-modern-medium-categorites h3 a{
    color: #fff;
    text-decoration: none;
    outline: none;
}

/************************footer css******************************/

.hhwt-footer-fluid {
    background-color: #dbf0f1;
    padding-bottom: 35px;
    padding-top: 35px;
}
.hhwt-footer-fluid .hhwt-footer-container, .hhwt-footer-categories, .hhwt-footer-grid{
    padding: 0px;
}
.hhwt-footer-container .hhwt-footer-categories .hhwt-footer-grid .titles {
    font-family: ProximaNova-Bold;
    font-size: 15px;
    margin-top: 0px;
    color: #405050;
}
.hhwt-footer-container .hhwt-footer-categories .hhwt-footer-grid .links {
    list-style-type: none;
    padding-left: 0;
}
.hhwt-footer-container .hhwt-footer-categories .hhwt-footer-grid .links li {
    font-family: ProximaNova;
}
.hhwt-footer-container .hhwt-footer-categories .hhwt-footer-grid .links li a {
    color: #00cccb;
    font-size: 14px;
}
.hhwt-footer-container .hhwt-footer-follow {
    padding: 0px;
}
.hhwt-footer-container .hhwt-footer-follow h4 {
    font-family: ProximaNova-Bold;
    font-size: 15px;
    margin-top: 0px;
    color: #405050;
}
.hhwt-footer-container .hhwt-footer-follow a .social_fb {
    padding: 11px 15px 10px 15px;
    color: #fff;
    background-color: #00cccb;
    font-size: 19px;
    border-radius: 50%;
    margin-left: -12px;
}
.hhwt-footer-container .hhwt-footer-follow a .social {
    padding: 11px 12px 10px 12px;
    color: #fff;
    background-color: #00cccb;
    font-size: 19px;
    border-radius: 50%;
    margin-left: -12px;
}
.hhwt-footer-container .hhwt-footer-download {
    padding: 0px;
}
.hhwt-footer-container .hhwt-footer-download h4 {
    font-family: ProximaNova-Bold;
    font-size: 15px;
    margin-top: 0px;
    color: #405050;
}
.hhwt-footer-container .hhwt-footer-download a img {
    margin-top: 7px;
    margin-left: -2px;
}
.hhwt-footer-container .hhwt-footer-logo {
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: center;
}
.hhwt-footer-container .hhwt-footer-copyright {
    font-family: ProximaNova;
    font-size: 10px;
    text-align: center;
}
.hhwt-footer-container .hhwt-footer-copyright p {
    margin-bottom: 0px;
}
.hhwt-footer-container .hhwt-footer-agree {
    font-family: ProximaNova;
    text-align: center;
}
.hhwt-footer-container .hhwt-footer-agree a {
    color: #00cccb;
    text-decoration: underline;
    font-size: 10px;
}
.hhwt-footer-container .hhwt-footer-agree span {
    font-size: 11px;
}

@media only screen and (max-width: 991px) {
    .hhwt-footer-container .hhwt-footer-follow a .social_fb {
        padding: 9px 13px 8px 13px;
    }
    .hhwt-footer-container .hhwt-footer-follow a .social {
        padding: 9px 10px 8px 10px;
    }
}
@media only screen and (max-width: 767px) {
    .hhwt-footer-fluid {
        padding-bottom: 15px;
        padding-top: 15px;
        text-align: center;
    }
    .hhwt-footer-container .hhwt-footer-download {
        display: none;
    }
    .hhwt-footer-container .hhwt-footer-categories .hhwt-footer-grid {
        margin-bottom: 20px;
    }
    .hhwt-destination-container{
        padding: 0px 15px;
    }
    .hhwt-destination-container .hhwt-destination-btn{
        margin-right: -4px;
    }
}